@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

:root {
	--font-default: "Montserrat", sans-serif;
	--font-brand: "Pacifico", cursive;
}

:root {
	--color-default: #212529;
	--color-primary: #ce1212;
	--color-secondary: #37373f;
	--surface-color: #fff;
	--curve: 40;
}

body {
	color: var(--color-default);
	font-family: var(--font-default);
	background-color: #fae7e7;
	padding: 2vh;
}

h4 {
	font-size: 1rem;
	color: rgb(56, 56, 56);
}

h3 {
	font-size: 1.5rem;
	color: rgb(56, 56, 56);
	line-height: 2.5rem;
	margin: 2rem 0rem;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover {
	color: #ec2727;
	text-decoration: none;
}

.navbar {
	padding: 2%;
}
.navbar a {
	color: var(--color-default);
}

.navbar-brand h1 {
	font-family: var(--font-brand) !important;
	font-size: 2.2rem;
}

.contact-btn {
	background-color: #ec2727;
	color: white;
	font-size: 14px;
	padding: 8px 20px;
	transition: 0.3s;
}
.contact-btn:hover {
	background-color: #d85959;
	color: white;
}

h1 span {
	color: #ec2727;
}

header .container {
	padding: 0;
}

.container-fluids {
	padding: 5%;
	border: 2px solid black;
}
.containers {
	padding: 20px;
	margin: 30px;
	border: 2px solid #212529;
}

/* search  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

input {
	caret-color: red;
}

.inputs {
	text-align: left;
	margin-top: 30px;
}

input {
	display: block;
	width: 100%;
	padding: 0;
	border: none;
	outline: none;
	/* box-sizing: border-box; */
}

label {
	margin-bottom: 4px;
}

input::placeholder {
	color: gray;
}

input {
	background: #ecf0f3;
	padding: 10px;
	padding-left: 20px;
	height: 50px;
	font-size: 14px;
	border-radius: 50px;
	box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.feature-box {
	padding: 2%;
}

.four {
	font-size: 4em;
	color: white;
	background: linear-gradient(35deg, #494949, #313131);
	border-radius: 50%;
	padding: 15px;
	margin: 0.3%;
}

.four:hover {
	background: linear-gradient(to right, #f27121, #e94057);
	cursor: pointer;
	transform: scale(1.1);
}
.four:active {
	background: linear-gradient(to right, #f27121, #e94057);
	cursor: pointer;
	transform: scale(1.1);
}

.cuisine {
	padding: 1%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1%;
}
.cuisine-search {
	padding: 1%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1%;
}
/* 
960
720
540
220 */

/* Cuisine Search Media Query */
@media (min-width: 960px) {
	.cuisine-search {
		padding: 1%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1%;
	}
}
.myCard {
	height: 33vh !important;
	padding: 2.5vh !important;
	background: inherit;
	border: none !important;
	color: #fff;
	border-radius: 1em;
}

.myCard img {
	object-fit: contain;
}

.myCard:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.myPopular {
	background: linear-gradient(to right, #da7d44, #db6978, #f1caca);
	border-radius: 1em;
}

/* CodePen Cards */

/* body {
	font-family: "Noto Sans JP", sans-serif;
	background-color: #fef8f8;
} */

.ulCards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	margin: 4rem 5vw;
	padding: 0;
	list-style-type: none;
}

.liCard {
	position: relative;
	display: block;
	height: 100%;
	border-radius: calc(var(--curve) * 1px);
	overflow: hidden;
	text-decoration: none;
}

.liCard-img {
	width: 100%;
	height: auto;
	border-radius: calc(var(--curve) * 1px);
}

.liCard-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-radius: calc(var(--curve) * 1px);
	background-color: var(--surface-color);

	transform: translateY(100%);
	transition: 0.3s ease-in-out;
}

.liCard:hover .liCard-overlayy {
	transform: translateY(0);
}

.liCard-header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 2em;
	padding: 1em;
	border-radius: calc(var(--curve) * 1px) 0 0 0;
	/* background-color: var(--surface-color); */
	background-color: #ca7c7c;

	transform: translateY(-100%);
	transition: 0.2s ease-in-out;
}

.liCard-arc {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 100%;
	right: 0;
	z-index: 1;
}

.liCard-arc path {
	fill: var(--surface-color);
	/* d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); */
}

.liCard:hover .liCard-header {
	transform: translateY(0);
}

.liCard-title {
	font-size: 1em;
	margin: 0 0 0.3em;
	/* color: #6a515e; */
	color: var(--surface-color);
	font-weight: 600;
}

/* Recipe Page */

@media (min-width: 990px) {
	.recipe-container {
		display: block;
		/* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

		/* gap: 20px; */
	}
}
@media (max-width: 800px) {
	.recipe-container {
		display: block;
	}
	.recipe-container img {
		max-width: 80%;
	}
}
@media (max-width: 456px) {
	.recipe-container {
		display: block;
	}
	.recipe-container img {
		max-width: 80%;
	}
	.btn-container .btn {
		width: 100px;
		font-size: 10px;
		margin: 2px !important;
	}
	.body {
		font-size: 0.7rem;
	}
}

@media (max-width: 373px) {
	.navbar-brand h1 {
		font-size: 1.2rem;
	}

	.contact-btn {
		font-size: 10px;
		padding: 4px 10px;
	}

	.four {
		font-size: 3em;
		color: white;
		background: linear-gradient(35deg, #494949, #313131);
		border-radius: 50%;
		padding: 15px;
		margin: 0.3%;
	}
}
