@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

:root {
	--font-default: "Montserrat", sans-serif;
	--font-brand: "Pacifico", cursive;
}

:root {
	--color-default: #212529;
	--color-primary: #ce1212;
	--color-secondary: #37373f;
}

body {
	color: var(--color-default);
	font-family: var(--font-default);
	background-color: #fae7e7;
}

h4 {
	font-size: 1rem;
	color: rgb(56, 56, 56);
}

h3 {
	font-size: 1.5rem;
	color: rgb(56, 56, 56);
	line-height: 2.5rem;
	margin: 2rem 0rem;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover {
	color: #ec2727;
	text-decoration: none;
}

.navbar {
	padding: 2%;
}
.navbar a {
	color: var(--color-default);
}

.navbar-brand h1 {
	font-family: var(--font-brand) !important;
	font-size: 2.2rem;
}

.contact-btn {
	background-color: #ec2727;
	color: white;
	font-size: 14px;
	padding: 8px 20px;
	transition: 0.3s;
}
.contact-btn:hover {
	background-color: #d85959;
	color: white;
}

h1 span {
	color: #ec2727;
}

header .container {
	padding: 0;
}

.container-fluids {
	padding: 5%;
	border: 2px solid black;
}
.containers {
	padding: 20px;
	margin: 30px;
	border: 2px solid #212529;
}

/* search  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

input {
	caret-color: red;
}

.inputs {
	text-align: left;
	margin-top: 30px;
}

input {
	display: block;
	width: 100%;
	padding: 0;
	border: none;
	outline: none;
	/* box-sizing: border-box; */
}

label {
	margin-bottom: 4px;
}

input::placeholder {
	color: gray;
}

input {
	background: #ecf0f3;
	padding: 10px;
	padding-left: 20px;
	height: 50px;
	font-size: 14px;
	border-radius: 50px;
	box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.feature-box {
	padding: 2%;
}

.four {
	font-size: 4em;
	color: white;
	background: linear-gradient(35deg, #494949, #313131);
	border-radius: 50%;
	padding: 15px;
	margin: 0.3%;
}

.four:hover {
	background: linear-gradient(to right, #f27121, #e94057);
	cursor: pointer;
	transform: scale(1.1);
}

.cuisine {
	padding: 1%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1%;
}
/* .popular {
	padding: 1%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1%;
}

.popular-box {
	padding: 1%;
}

.popular img {
	max-width: 100%;
	background-color: red;
}

@media (min-width: 598px) {
	.popular {
		padding: 1%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1%;
	}
}
@media (min-width: 798px) {
	.popular {
		padding: 1%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1%;
	}
} */

.myCard {
	height: 30vh !important;
	padding: 2vh !important;

	color: #f27121;
}
